In [1]:
# accept the city nmae from user and print the mounmnment

In [2]:
city=input("Enter a city either agra,delhi,mumbai").lower()
print(city)
if city=='delhi':
    print('Red Fort')
elif city=='agra':
    print('Taj Mahal')
elif city=='mumbai':
    print('Getway of India')
else:
    print("wrong choice")

Enter a city either agra,delhi,mumbai agra

agra
Taj Mahal

In [3]:
# nested if

In [4]:
num=int(input("Enter a Value"))
if num>500:
    print('Enter value is greater than 500')
    print('check for the number is 600,650,700')
    if num==600:
        print('Number is 600')
    elif num==650:
        print('Number is 650')
    elif num==700:
        print('Number is 700') 
    else: 
        print('Unknow')
else:
    print('Entered value is not greater than 500')

Enter a Value 700

Enter value is greater than 500
check for the number is 600,650,700
Number is 700

In [5]:
# WAP user enter a number identify whether it is positive,negative,zero

In [6]:
a=int(input('Enter a interger'))
if a>0:
    print(a,'is positive number')
elif a<0:
    print(a,'is negative number')
else:
    print('you have enterd',a,'value')

Enter a interger 8

8 is positive number

# Control Statements

In [7]:
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello

In [8]:
for num in range(1,4):
    print('Hello')

Hello
Hello
Hello

In [9]:
for i in range(5,10):
    print(i)
print('Bye')

5
6
7
8
9
Bye

In [10]:
for i in range(5,10):
    print(i)
    print('Bye')

5
Bye
6
Bye
7
Bye
8
Bye
9
Bye

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [13]:
# print odd numbers from 1 to 10
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [15]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(11): # 0 to 10
    print(i,i**2) # square of number

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [20]:
for i in range(11): # 0 to 10
    print(i,i**3) # cube of number

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

In [21]:
# range (start,stop,step)
for i in range(1,31,5):
    print(i,'@')

1 @
6 @
11 @
16 @
21 @
26 @

In [26]:
sub='Science'
for i in sub:
    print(i)

S
c
i
e
n
c
e

In [33]:
# print name 3 times on firs line
name='Prerana '
for i in range(1,2):
    print(name*3)

Prerana Prerana Prerana

In [35]:
name='Prerana '
for i in range(1,7):
    print(name*i)

Prerana
Prerana Prerana
Prerana Prerana Prerana
Prerana Prerana Prerana Prerana
Prerana Prerana Prerana Prerana Prerana
Prerana Prerana Prerana Prerana Prerana Prerana

In [36]:
name='Prerana'
for i in range(1,7):
    x=(name + " ")*i
    print(x)

Prerana
Prerana Prerana
Prerana Prerana Prerana
Prerana Prerana Prerana Prerana
Prerana Prerana Prerana Prerana Prerana
Prerana Prerana Prerana Prerana Prerana Prerana

In [39]:
movie='Drishyam'
for letter in movie:
    print(letter)

D
r
i
s
h
y
a
m

In [40]:
movie='Drishyam'
for letter in movie:
    print(letter.lower())

d
r
i
s
h
y
a
m

In [41]:
movie='Drishyam'
for letter in movie:
    print(letter.swapcase())

d
R
I
S
H
Y
A
M

In [44]:
movie='Drishyam'
for letter in movie:
    print(letter.upper(),end='      ') # for give the all output in line without new line

D      R      I      S      H      Y      A      M

In [45]:
# print all even  n odd numbers between given range suing range for loop

In [52]:
for i in range(1,11):
    if i%2==0:
        print('Even Number: ',i)
    else:    
         print('Odd Number: ',i)

Odd Number:  1
Even Number:  2
Odd Number:  3
Even Number:  4
Odd Number:  5
Even Number:  6
Odd Number:  7
Even Number:  8
Odd Number:  9
Even Number:  10

In [57]:
print('Even Number: ')
for i in range(1,11):
    if i%2==0:
        print(i)
print('Odd Number: ')   
for i in range(1,11):
    if i%2!=0:
         print(i)

Even Number:
2
4
6
8
10
Odd Number:
1
3
5
7
9

In [58]:
print('Even Number: ')
for i in range(1,11):
    if i%2==0:
        print(i,end=' ')
print('Odd Number: ')   
for i in range(1,11):
    if i%2!=0:
         print(i,end=' ')

Even Number:
2 4 6 8 10 Odd Number:
1 3 5 7 9

In [59]:
print('Even Number: ')
for i in range(1,11):
    if i%2==0:
        print(i,end=' ')
print('\nOdd Number: ')   
for i in range(1,11):
    if i%2!=0:
         print(i,end=' ')

Even Number:
2 4 6 8 10
Odd Number:
1 3 5 7 9

In [64]:
# print each letter 4 times with separator as space
for letter in " Data Science":
        print(letter*4,end=' ')

     DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [63]:
for x in range(10,2,-1):
    print(x)

10
9
8
7
6
5
4
3

In [65]:
# len()
len('My Name')

7

In [66]:
len('Prerana')

7