# Lambda Function

In [1]:
fn=lambda x: 'Very Experienced' if x > 20 else 'Less Experienced '

In [2]:
fn(30)

'Very Experienced'

In [3]:
fn(10)

'Less Experienced '

In [4]:
import pandas as pd
sal=pd.read_csv(r'C:\Users\admin\Desktop\py\10 sept\Salaries.csv')

In [5]:
sal

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [6]:
sal['service'].apply(lambda x: 'Very Experienced' if x > 20 else 'Less Experienced ')

0      Very Experienced
1     Less Experienced
2     Less Experienced
3      Very Experienced
4     Less Experienced
            ...
73    Less Experienced
74    Less Experienced
75    Less Experienced
76    Less Experienced
77    Less Experienced
Name: service, Length: 78, dtype: object

In [7]:
sal['status'] = sal['service'].apply(lambda x : 'Very Experienced' if x > 20 else 'Less Experienced')

In [8]:
sal.head(15)

         rank discipline  phd  service   sex  salary            status
0        Prof          B   56       49  Male  186960  Very Experienced
1        Prof          A   12        6  Male   93000  Less Experienced
2        Prof          A   23       20  Male  110515  Less Experienced
3        Prof          A   40       31  Male  131205  Very Experienced
4        Prof          B   20       18  Male  104800  Less Experienced
5        Prof          A   20       20  Male  122400  Less Experienced
6   AssocProf          A   20       17  Male   81285  Less Experienced
7        Prof          A   18       18  Male  126300  Less Experienced
8        Prof          A   29       19  Male   94350  Less Experienced
9        Prof          A   51       51  Male   57800  Very Experienced
10       Prof          B   39       33  Male  128250  Very Experienced
11       Prof          B   23       23  Male  134778  Very Experienced
12   AsstProf          B    1        0  Male   88000  Less Experienced
13       Prof          B   35       33  Male  162200  Very Experienced
14       Prof          B   25       19  Male  153750  Less Experienced

# Math Function

In [9]:
import math

In [10]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [11]:
math.pow(10,5)

100000.0

In [12]:
math.trunc(345.6)

345

In [13]:
round(63256.87987,2)

63256.88

In [14]:
round(4.22,1)

4.2

In [15]:
round(4.876589,3)

4.877

In [16]:
math.sqrt(9)

3.0

In [18]:
math.pi # It is not finctio it is constant value

3.141592653589793